<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Deals upload page</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand">Deals upload page</p>
        </div>
    </div>
</nav>

<main role="main" class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Upload</a></li>
        <li role="presentation"><a href="/summary">Summary</a></li>
    </ul>
    <br>

    <form method="POST" enctype="multipart/form-data" action="/upload">
        <div th:if="${errorMessage}" style="padding-bottom: 20px;" id="errorMsg">
            <span class="alert alert-danger alert-dismissible" role="alert" th:text="${errorMessage}"></span>
        </div>
        <div th:if="${message}" style="padding-bottom: 20px;" id="successMsg">
                    <span class="alert alert-success" role="alert">You successfully uploaded
                        <span th:text="${fileName}"></span>
                        ,<span th:text="${message}"></span>
                    </span>
        </div>
        <div class="form-group">

            <div class="input-group col-lg-6">
                <input type="file" class="form-control" name="file" placeholder="Recipient's username"
                       aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">File</span>
            </div>
        </div>
        <div class="input-group">
            <input type="submit" class="btn btn-default" value="Upload"/>
        </div>


    </form>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/jquery/1.11.1/jquery.min.js}" type="application/javascript"/>

</body>
</html>

